.guestbook-container {
  padding: 15px 0;
  background-color: crimson;
}

h1 {
  margin: 0 0 20px 10px;
  color: pink;
}

.guest-list-container {
  margin: 0;
  text-align: left;
  font-size: 25px;
  color: pink;
}